# Establishing a Connection

In [1]:
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user="root",
        password="admin123",
        database="tradebot",
    ) as connection:
        print(connection)
except Error as e:
    print(e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f79e16b3490>

# Creating Tables Using the CREATE TABLE Statement

In [2]:
try:
    
    create_movies_table_query = """
    CREATE TABLE movies(
        id INT AUTO_INCREMENT PRIMARY KEY,
        title VARCHAR(100),
        release_year YEAR(4),
        genre VARCHAR(100),
        collection_in_mil INT
    )
    """
    with connection.cursor() as cursor:
        cursor.execute(create_movies_table_query)
#         connection.commit()
        
except Error as e:
    
    print(e)
    
print(connection)

MySQL Connection not available.
<mysql.connector.connection_cext.CMySQLConnection object at 0x7f79e16b3490>

In [3]:
import mysql.connector

config = {
'user': 'root',
'password': 'admin123',
'host': 'localhost',
'port': '3306',
'database': 'tradebot',
'raise_on_warnings': True,}


cnx = mysql.connector.connect(**config)    
cursor = cnx.cursor()

In [4]:
cursor

In [5]:
try:
    create_movies_table_query = """
    CREATE TABLE movies(
        id INT AUTO_INCREMENT PRIMARY KEY,
        title VARCHAR(100),
        release_year YEAR(4),
        genre VARCHAR(100),
        collection_in_mil INT
    )
    """

    cursor.execute(create_movies_table_query)
    
except Error as e:

    print(e)

1050 (42S01): Table 'movies' already exists

# Inserting Records in Tables

In [6]:
try:
    insert_movies_query = """
    INSERT INTO movies (title, release_year, genre, collection_in_mil)
    VALUES
        ("Forrest Gump", 1994, "Drama", 330.2),
        ("3 Idiots", 2009, "Drama", 2.4),
        ("Eternal Sunshine of the Spotless Mind", 2004, "Drama", 34.5),
        ("Good Will Hunting", 1997, "Drama", 138.1),
        ("Skyfall", 2012, "Action", 304.6),
        ("Gladiator", 2000, "Action", 188.7),
        ("Black", 2005, "Drama", 3.0),
        ("Titanic", 1997, "Romance", 659.2),
        ("The Shawshank Redemption", 1994, "Drama",28.4),
        ("Udaan", 2010, "Drama", 1.5),
        ("Home Alone", 1990, "Comedy", 286.9),
        ("Casablanca", 1942, "Romance", 1.0),
        ("Avengers: Endgame", 2019, "Action", 858.8),
        ("Night of the Living Dead", 1968, "Horror", 2.5),
        ("The Godfather", 1972, "Crime", 135.6),
        ("Haider", 2014, "Action", 4.2),
        ("Inception", 2010, "Adventure", 293.7),
        ("Evil", 2003, "Horror", 1.3),
        ("Toy Story 4", 2019, "Animation", 434.9),
        ("Air Force One", 1997, "Drama", 138.1),
        ("The Dark Knight", 2008, "Action",535.4),
        ("Bhaag Milkha Bhaag", 2013, "Sport", 4.1),
        ("The Lion King", 1994, "Animation", 423.6),
        ("Pulp Fiction", 1994, "Crime", 108.8),
        ("Kai Po Che", 2013, "Sport", 6.0),
        ("Beasts of No Nation", 2015, "War", 1.4),
        ("Andadhun", 2018, "Thriller", 2.9),
        ("The Silence of the Lambs", 1991, "Crime", 68.2),
        ("Deadpool", 2016, "Action", 363.6),
        ("Drishyam", 2015, "Mystery", 3.0)
    """

    cursor.execute(insert_movies_query)
    cnx.commit()

except Error as e:

    print(e)

# Execute many

In [7]:
try:
    insert_reviewers_query = """
    INSERT INTO reviewers
    (first_name, last_name)
    VALUES ( %s, %s )
    """
    reviewers_records = [
        ("Chaitanya", "Baweja"),
        ("Mary", "Cooper"),
        ("John", "Wayne"),
        ("Thomas", "Stoneman"),
        ("Penny", "Hofstadter"),
        ("Mitchell", "Marsh"),
        ("Wyatt", "Skaggs"),
        ("Andre", "Veiga"),
        ("Sheldon", "Cooper"),
        ("Kimbra", "Masters"),
        ("Kat", "Dennings"),
        ("Bruce", "Wayne"),
        ("Domingo", "Cortes"),
        ("Rajesh", "Koothrappali"),
        ("Ben", "Glocker"),
        ("Mahinder", "Dhoni"),
        ("Akbar", "Khan"),
        ("Howard", "Wolowitz"),
        ("Pinkie", "Petit"),
        ("Gurkaran", "Singh"),
        ("Amy", "Farah Fowler"),
        ("Marlon", "Crafford"),
    ]

    cursor.execute(insert_movies_query)
    cnx.commit()

except Error as e:

    print(e)

# Reading Records From the Database

In [8]:
try:
    
    movie_id = input("Enter movie id: ")
    reviewer_id = input("Enter reviewer id: ")
    new_rating = input("Enter new rating: ")
    
    update_query = """
    UPDATE
        ratings
    SET
        rating = "%s"
    WHERE
        movie_id = "%s" AND reviewer_id = "%s";

    SELECT *
    FROM ratings
    WHERE
        movie_id = "%s" AND reviewer_id = "%s"
    """ % (
        new_rating,
        movie_id,
        reviewer_id,
        movie_id,
        reviewer_id,
    )

#     cursor.execute(update_query)
#     cnx.commit()

except Error as e:

    print(e)

Enter movie id: 1
Enter reviewer id: 1
Enter new rating: 1

In [41]:
def generateCode(table, prefix, base_col):
        no_prec = 10


        try:

#             SELECT $base_col FROM  $table ORDER BY RIGHT ($base_col,$no_prec) DESC LIMIT 1
            
#             query = """
#             SELECT * FROM  tb_trades;
#             """ 
#         % (
#                 base_col,
#                 table,
#                 base_col,
#                 no_prec
#             )

            
            mydb = mysql.connector.connect(
              host="localhost",
              user="root",
              password="admin123",
              database="tradebot"
            )

            mycursor = mydb.cursor()

            mycursor.execute("SELECT * FROM tb_trades")

            myresult = mycursor.fetchall()


#             print(record)
            return {
                "data" : myresult,
                "msg" : "Successful Logged Activity",
            }     

        except Error as e:

            # print(e)
            return {
                "data" : "Error",
                "msg" : e
            }

In [42]:
result = generateCode("tb_trades", "tb_", "TRD_CODE")
result

{'data': [(1,
   'None',
   'Buy',
   '09/09/2021 18:06:07',
   'Exit Long',
   'Buy',
   '09/09/2021 18:06:14',
   '46803.39000000',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   'TRD0000000001',
   datetime.datetime(2021, 9, 9, 18, 6, 20),
   '46803.39000000'),
  (2,
   'None',
   'Sell',
   '09/09/2021 18:10:05',
   'Exit Short',
   'Sell',
   '09/09/2021 18:10:13',
   '46779.37000000',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   'TRD0000000001',
   datetime.datetime(2021, 9, 9, 18, 10, 18),
   '46779.37000000'),
  (3,
   'None',
   'Buy',
   '09/09/2021 18:35:06',
   'Exit Long',
   'Buy',
   '09/09/2021 18:35:13',
   '46755.31000000',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   '',
   'TRD0000000001',
   datetime.datetime(2021, 9, 9, 18, 35, 20),
   '46755.31000000')],
 'msg': 'Successful Logged Activity'}

In [ ]:


try:

    update_query = """
    SELECT $base_col FROM  $table ORDER BY RIGHT ($base_col,$no_prec) DESC LIMIT 1

    SELECT "%s" FROM  "%s" ORDER BY RIGHT ("%s","%s") DESC LIMIT 1;

    INSERT INTO tb_activities 
        (ACT_STATUS, ACT_DESCRIPTION, ACT_TITLE, ACT_TYPE, ACT_DATEADDED, ACT_CODE)
    VALUES 
        ( "%s",  "%s",  "%s",  "%s",  "%s",  "%s");
    """ % (
        params.get('act_status'),
        params.get('act_description'),
        params.get('act_title'),
        params.get('act_type'),
        params.get('act_dateadded'),
        params.get('act_code')
    )

    self.cursor.execute(update_query)
    self.cnx.commit()


    self.cursor.execute("SELECT * FROM tb_trades")

    result = cursor.fetchall()


#             print(record)
    print({
        "data" : result,
        "msg" : "Successful Logged Activity",
    })    

 except Error as e:

            # print(e)
            return {
                "data" : "Error",
                "msg" : e
            }